<div class="modal" ui-if="modal1" ui-shared-state="modal1">
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
                ui-turn-off="modal1">&times;
        </button>
        <h4 class="modal-title" style="text-align:center">PHOTO</h4>
      </div>
      <div class="modal-body">
        <!--Body-->
        <!-- We are going to display it in an <img> tag, so we will only accept image files -->
        <div class="container">
          <div class="row">
            <button class="btn btn-primary pull-right" ng-hide="images.length == 0" ng-click="clearAll()">Clear All
            </button>
            <input id="files" type="file" ng-click="$event = $event" ng-model="display" multiple
                   onchange="angular.element(this).scope().upload(event)" accept="image/*" style="display: none"/>
            <label for="files" style="	font-family: Roboto;	font-size: 14px;	text-align: center;background-color: #78aef9;color:#ffffff;padding-left:20px;padding-right:20px;padding-top:5px;padding-bottom:5px;border-radius: 20px">SELECT PHOTO</label>
            <div class="row">
              <div class="col-md-12"> <span ng-repeat='img in images'> <a href="#" ng-click="setImage($index)" >
                 <img ng-src="{{img}}"
                      alt="Generic placeholder thumbnail" style="max-height:100px;" class="thumbnail"/>
              </a>
            </span>
              </div>
            </div>
            <img ng-src="{{display}}" ng-hide="!display"/>
            <h6>You have upload {{images.length}} images this session.
            </h6>
          </div>
        </div>
        <!--Body-->
      </div>
      <div class="modal-footer">
        <button ui-turn-off="modal1" data-ng-click="shareImage()" class="btn btn-primary"
                style="width:30%;background-color: #fee050;color:#000000;font-family: Roboto;border-color:#fee050;	border-radius: 20px;box-shadow: 0 5px 10px 0 rgba(15, 7, 45, 0.1);">OK</button>
        <button ui-turn-off="modal1" class="btn btn-default" style="width:30%;background-color: #ffffff;color:#000000;font-family: Roboto;border-color:#ffffff;;	border-radius: 20px;box-shadow: 0 5px 10px 0 rgba(15, 7, 45, 0.1);">CANCLE</button>
      </div>
    </div>
  </div>
</div>
<style>
  .row > img {
    max-width: 10%;
    max-height: 20%;
    background-size: cover;
  }
  .thumbnail {
    max-width: 100px;
    display: inline;
  }
  a {
    text-decoration: none;
  }
</style>
