<div ui-content-for="title">
  <span>Overlays</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section section-break">
      <a href=""
         ui-turn-on="modal1"
         class="btn btn-default"><img src="/youyou/img/album.svg"></a>
      <a href=""
         ui-turn-on="modal2"
         class="btn btn-default">Show Overlay</a>
      <input type="file" ng-click="$event = $event" ng-model="display" multiple
             onchange="angular.element(this).scope().upload(event)" capture accept="image/*"/>
      just capture
      <input type="file" accept="image/*" capture>
    </div>

    <div class="section section-break">
      <p>
        {{lorem}}
      </p>
    </div>
  </div>
</div>

<div ui-content-for="modals">
  <div ng-include="'/youyou/pages/imageLoadModal.html'"></div>
  <div ng-include="'/youyou/pages/modal2.html'"></div>
</div>

